.chat-main
  .main-header
    .main-header_left-box
      .main-header_left-box_current-group
        猿軍団
      .main-header_left-box_member-list
        Member : 
        .main-header_left-box_member-list_member
          猿
    .main-header_edit-btn
      Edit
  .messages
    .message
      .message_upper-info
        .message_upper-info_talker
          猿
        .message_upper-info_date
          2019/11/07(thu)21:30:44
      .message_text
        aaaaa
  .form
    .new_message
      .input-box
        %label{class: "input-box_text"}
          %input{placeholder: "type a message"}
        %label{class: "input-box_image"}
          %i.fa.fa-image
          %input{type: "file"}
      %label{class: "submit-btn"}
        %input{type: "submit"}
          Send
          
    