.chat-side
  .side-header
    .side-header_box
      .side-header_box_user-name
        猿
      .side-header_box_menu
        .side-header_box_menu_new-group
          =link_to "#", class: "side-header_box_menu_new-group" do
            %i.fa.fa-edit
        .side-header_box_menu_edit-user
          =link_to "#", class: "side-header_box_menu_edit-user" do
            %i.fa.fa-cog
  .groups
    .group
      .group_group-name
        猿軍団
      .group_latest-message
        まだメッセージがありません
