.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        .side-header__box__menu__new-group
          = link_to "#", class: "side-header_box_menu_new-group" do
            %i.fa.fa-edit
        .side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .groups
    .group
      .group__group-name
        猿軍団
      .group__latest-message
        まだメッセージがありません
